.App > .pageHeader {
  width: 100%;
  padding: 10px 0;
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App > .pageHeader > .container {
  width: 100%;
  padding: 5px 0;
  margin: 0 200px;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > .content > .siteBar {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: cyan;
  margin: 0 10px;
}

.App > .content > .siteBar > ol {
  border-bottom: 3px solid white;
}

.App > .content > .siteBar > ol > li {
  background-color: white;
  padding: 5px 10px;
  margin: 5px 0;
}

.App > .content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.App > .content > .todoList {
  width: 100%;
  height: 100vh;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.App > .content > .todoList > h1 {
  color: white;
  text-transform: uppercase;
  border: 3px solid white;
  padding: 10px 20px;
}
